@font-face {
  font-family: 'robotobold';
  src: url('../assets/Roboto-Bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "robotobold", "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  padding: 50px 10%;
}
img {
  display: block;
  width: 20%;
  margin: 0px auto;
}
h1 {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: lighter;
}
h3 {
  font-weight: lighter;
}
p {
  font-family: 'Roboto';
  color: rgba(0, 0, 0, 0.5);
}

form {
  display: flex;
}
button, input {
  border: none;
  border-radius: 2px;
  padding: 10px;
}
input {
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.1);
}
button {
  min-width: 150px;
  background: #21A868;
  color: white;
  text-transform: uppercase;
  margin-left: 20px;
}

ul {
  padding: 0px;
  margin-top: 20px;
}

ul li {
  list-style: none;
  font-family: 'Roboto';
  padding: 5px 0px;
  display: flex;
  align-items: center;
  transition: all .5s;
  padding: 10px;
  border-radius: 2px;
}

ul li:hover {
  background: rgba(0, 0, 0, 0.05);
}

ul li span.hostname {
  flex-grow: 1;
}

ul li span.delete-icon {
  cursor: pointer;
  padding: 5px;
}

#error {
  color: red;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}
