@font-face {
  font-family: 'robotobold';
  src: url('../assets/Roboto-Bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "robotobold", "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  padding: 50px 10%;
}
img {
  display: block;
  width: 20%;
  margin: 0px auto;
}
h1 {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: lighter;
}
h3 {
  font-weight: lighter;
}
p {
  font-family: 'Roboto';
  color: rgba(0, 0, 0, 0.5);
}
button, input {
  border: none;
  border-radius: 2px;
  padding: 10px;
  min-width: 150px;
}
input {
  background: rgba(0, 0, 0, 0.1);
}
button {
  background: #21A868;
  color: white;
  text-transform: uppercase;
  margin-left: 20px;
}
ul {
  padding: 0px;
  margin-top: 20px;
}

ul li {
  list-style: none;
  font-family: 'Roboto';
  padding: 5px 0px;
}
