@font-face {
  font-family: 'robotobold';
  src: url('../assets/Roboto-Bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  min-width: 240px;
  max-width: 320px;
  font-family: "robotobold", "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
  color: #6FCF97;
  background-color: #21A868;
  border: none;
  padding: 10px 20px 20px;
}
header hr {
  border: 1px solid #6FCF97;
  margin: 15px auto 0;
}
header img {
  width: 25px;
  display: block;
  margin: 10px auto;
}

p {
  margin: 0px;
}
.section {
  margin: 30px auto;
}
.text.primary {
  color: white;
}
.time-spent {
  color: #FFF;
  font-size: 36px;
  text-transform: uppercase;
  padding: 0px;
}

.parameters {
  display: flex;
}
.dropdown {
  font-family: "robotobold", "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  border: 0 !important;  /* removes border */
  -webkit-appearance: none;  /* removes default Chrome & Safari style */
  -moz-appearance: none;  /* removes default Firefox style */
  appearance: none;
  background-color: #21A868;
  cursor: pointer;
  color: #FFF;
  display: inline;
  font-size: 100%;
  margin: 0px 5px;
  flex: 1;

  background: url('../assets/arrow-down.png');
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 17px;
}
.btn {
  font-family: "robotobold", "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  text-transform: uppercase;
  padding: 15px 30px;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 2px;
  margin: 20px auto;
  cursor: pointer;
  display: block;
}
.btn.primary {
  background: white;
  color: #21A868;
}

.progress-bar, .progress {
  height: 5px;
  border-radius: 5px;
}
.progress-bar {
  margin: 10px 0px;
  background: #6FCF97;
}
.progress {
   background: white;
}
